body{
    font-family:'Open Sans';
}

.title{
    color: #2f2f2f;
    margin-left: 150px;
    margin-top: 50px; 
    font-size: 32px;
    margin-bottom: 10px;
}

.author{
    font-size: 16px;
    color: #1f1f1f;
    margin-left: 150px;
    font-weight: bold; 
}

.date{
    font-size: 14px;
    color: #d6d6d6;
    margin-left: 150px;
}